/node_modules
/public/hot
/public/storage
/public/uploads/importCertificates
/storage/*.key
/vendor
.env
.envw
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.zip
